@import "./base.css";
@import "./navbar.css";
@import "./footer.css";
@import "./button.css";

.contact-header{
    margin-top: 2rem;
}

.contact-header .heading{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding: 10px 20px;
    color: rgb(67, 0, 44);
}

.sub-text{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.sub-text h3{
    font-size: 1.5rem;
    color: rgb(67, 0, 44);
}

.sub-text p{
    color: #7A7A7A;
    font-size: 1.1rem;
    line-height: 1.3;
}

label{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 2;
    color: rgb(67, 0, 44);

}

input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #7A7A7A;
    border-radius: 3px;
    background: transparent;
    margin-bottom: 1.5rem;
}

textarea{
    box-sizing: border-box;
    width: 100%;
    height: 170px;
    padding: 10px;
    background: transparent;
    border: 1px solid #7A7A7A;
    margin-bottom: 1rem;
    border-radius: 3px;
}

main{
    padding-bottom: 100px;
}


@media (min-width: 1023px) {

    .contact-header{
        margin-top: 3rem;
    }

    .black{
        display: flex;
        justify-content: center;
    }

    .btn-primary{
        padding: 0.8rem 2.2rem;
        margin-bottom: 20px;
    }

    input{
        padding: 15px;
    }

    .form-container,
    .sub-text{
        width: 600px;
        margin: auto;
    }

    .sub-text{
        margin-bottom: 2rem;
    }

}