.footer{
    background-color: var(--primary-color);
    bottom: 0;
    width: 100%;
    height: 60px;
    position: fixed;
}

.footer .container {
    height: 100%;
}

.social-icons a {
    font-size: 20px;
    padding: 8px;
    color: #fff;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.copyright a{
    font-size: 8px;
    color: #fff;
}

@media (min-width: 768px) {
    .social-icons a {
        margin-right: 15px;
        font-size: 25px;
    }

    .copyright a{
        font-size: 12px;
    }
}