header {
    background-color: var(--primary-color);
    padding: 1rem 0;
}

.nav-brand {
    text-align: center;
}

.nav-brand img {
    width: 80px;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-menu ul li {
    margin: 0 0.5rem;
}

.nav-menu ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
}   



@media (min-width: 768px) {
    nav {
        display: flex;
        align-items: center;
    }

    .nav-menu {
        margin-left: auto;
    }

    .nav-brand{
        margin-top: 10px;
    }

    .nav-brand img {
        width: 100px;
    }

    .nav-menu ul li a {
        font-size: 1rem;
    }   

    header{
        padding: 0.3rem 0;
    }
}

@media (min-width: 1024px) {}